<main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem-vindo ao Sistema Escolar</h1>
            <p class="col-md-8 fs-4">Gerencie alunos e turmas de forma simples e
                eficiente a partir dos links abaixo.</p>
            <hr class="my-4" />
            <a
                href="/rota_turma/turma"
                class="btn btn-primary btn-lg"
                role="button"
            >Gerenciar Turmas</a>
            <a
                href="/rota_aluno/aluno"
                class="btn btn-success btn-lg"
                role="button"
            >Gerenciar Alunos</a>
        </div>
    </div>
</main>