<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Obrigado pelo suporte</h5>
        <p class="card-text">Site desenvolvido por Everton Freitas
            <br />
            com apoio do Professor Mario de Jesus</p>
    </div>
    <div class="card-footer text-muted"> ©2025 </div>
</div>